.contenedor-contador-objeto{
    margin: 0 auto;
}

.contenedor-contador-objeto img {
    height: 25vh;
    margin-top: 2vh;
}

.stock-disponible{
    color: #6d3c11;
}

.contador button{
    margin: 1vw 2vw;
    padding: 0 1vw;
    background-color: transparent;
    border: 1px solid #b5936f;
    border-radius: 3px;
    color: #6d3c11;
}
    .contador button:hover{
        background-color: #ebcaa8;
        cursor: pointer;
    }

.btn-agregar{
    background-color: transparent;
    border: 1px solid #b5936f;
    border-radius: 3px;
    padding: 1vh 2vw;
    color: #6d3c11;
}
    .btn-agregar:hover{
        background-color: #ebcaa8;
        cursor: pointer;
    }