.contenedor-item{
    height: 60vh;
    width: 22vw;
    background-color: #fbf1e9;
    text-align: center;
    margin: 5vh auto;
    border-radius: 3px;
}
.contenedor-item:hover{
    background-color: #f8a05843;
    border: 2px solid #f8a05843;
    transition: all 500ms ease-out;
    cursor: pointer;
}

.item .descripcion{
    font-size: 1rem;
}
.contenedor-item:hover > .item img{
    height: 18vw;
    transition: all 500ms ease-out;
}
.contenedor-item:hover > .item .titulo-item{
    padding-top: 2vh;
    transition: all 500ms ease-out;
}



    .item img{
        height: 18vw;
        width: 13vw;
        margin-top: 3vh;
        border-radius: 3px;
    }
    .item p{
        padding-top: 0.5vh;
        font-size: 1.5rem;
        color: #6d3c11;
    }
    .titulo-item{
        font-size: 1.3rem;
    }