.contenedor-carrito{
    /* height: 75vh; */
    margin: 5vh;
    background-color: #fbf1e9;
}

.carrito-vacio{
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .carrito-vacio h3{
        padding-bottom: 3vh;
        color: #6d3c11;
    }

.contenedor-carrito-elementos{
    padding: 2vh 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .contenedor-carrito-ind{
        display: flex;
        align-items: center;
        
        
    }
        .contenedor-carrito-ind p{
            width: 13vw;
            padding: 0 2vw;
            color: #6d3c11;
        }

        .contenedor-carrito-ind img{
            height: 10vh;
            width: 10vw;
            padding-right: 4vw;
        }

        .contenedor-carrito-ind .contenedor-cantidad{
            display: flex;
        }

        .contenedor-carrito-ind .contenedor-cantidad p{
            padding: 0px;
            width: 1.5vw;
            text-align: center;
            margin: 0 1vw;
        }

        .contenedor-carrito-ind .btn-cantidad{
            background-color: transparent;
            border: 1px solid #b5936f;
            border-radius: 30px;
            padding: 0 1vh;
            color: #6d3c11;
        }
        .contenedor-carrito-ind .btn-cantidad:hover{
            background-color: #ebcaa8;
            cursor: pointer;
        }
    .contenedor-botones-carrito{
        text-align: center;
    }
    .contenedor-botones-carrito button{
        margin: 2vh 1vw;
    }

.contenedor-carrito-finalizar{
    text-align: center;
    padding: 5vh;
}
    .contenedor-carrito-finalizar p{
        padding-bottom: 2vh;
        color: #6d3c11;
    }




.formulario{
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario h3{
    color: #6d3c11;
}
.formulario input {
    margin: 2vh;
    text-align: center;
    width: 35vw;
    background-color: transparent;
    border: 1px solid #b5936f;
    padding: 1.5vh;
}