.Contenedor-nav{
    height: 15vh;
    background-color: #e2be99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0 10vw;
}

    .titulo{
        font-size: 2rem;
        padding-bottom: 1vh;
        color: #49280c;
    }

    ul{
        display: flex;
    }
    a{
        text-decoration: none;
        color: #6d3c11;
        padding: 0 1vw;
    }
    a:hover{
        font-weight: 500;
    }

    .Contenedor-Carrito{
        display: flex;
        align-items: center;
    }
    .Contenedor-Carrito img{
        height: 50px;
    }