.contenedor-lista{
    text-align: center;
}
    .contenedor-lista .img-cargando{
        height: 25vh;
    }
.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
}